 #app, html, body {
  background-color: #fff;
  background: #fff;
 }

.banner {
  font-size: 20px!important;
  font-weight: bold;
  margin-bottom: 12px;
 }

 .married-date {
  color: #ff7471;;
  font-weight: bold;
 }

 .anniversary-group .title {
  margin-bottom: 10px;
 }

 .anniversary-group .date {
  font-size: 20px;
  font-weight: normal;
  color: #999;
 }

 .main-container {
  padding: 65px 0px;
  background-color: #fefefe;
  /*background-color: #ff7471;*/
  max-height: 274px;
 }

 .btn-container {
  padding: 45px;
  background-color: #fefefe;
  border-top: 1px solid #f4f4f4;
 }

 .anniversary-container {
  padding: 40px;
  background-color: #fefefe;
  border-top: 1px solid #e6e6e6;
 }

.a-name {
  font-weight: bold;
}

.anniversary-container.milestone {
  background-color: #ffd70070;
  border-top: none;
}

.anniversary-container.milestone .date{
  /*color:#b5a158*/
  color: #96803d;
 }


.link-container {
  padding: 15px;
  background-color: rgba(230, 53, 51, .75);
  color: white;
}
